.rd3t-node {
  .highlighter:hover {
    fill: blue;
  }

  .edit-icon {
    &:hover {
      fill: green;
    }
  }

  .font-change {
    display: none;
  }

  .word-group:hover {
    .font-change {
      display: block;
    }
  }

  // .highlighter:hover + .font-change {
  //   display: block;
  // }
}
